.AdminExercise {
  background: #bbb;
  border-radius: 10px;
  width: 80%;
  margin: 15px auto;
  padding: 10px;
}

.AdminExercise p, .AdminExercise h2 {
  margin: 0;
}

.AdminExercise .workout-info {
  margin: 10px 0;
}

.AdminExercise .comments {
  margin-bottom: 5px;
}
