.SignIn {
  color: #ddd;
}

.SignIn img.wick {
  height: 120px;
  background: #fff;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

.SignIn h1 {
  margin: 5px 0 10px 0;
  font-weight: bold;
}

.SignIn img.logo {
  height: 48px;
}

.SignIn .ion-button {
  height: 50px;
}
