.AdminHome form {
  margin: 0 auto;
  border-radius: 10px;
}

.AdminHome .input-item {
  background: #efefef;
  border-radius: 10px;
  width: 50%;
  min-width: 150px;
  margin: 5px auto;
}

.AdminHome .input-section {
  background: #bbb;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.AdminHome .input-title {
  margin: 0 0 10px 0;
}

.AdminHome .submit-button {
  margin-top: 10px;
}

.AdminHome .group-select {
  margin: 20px 0;
}

.AdminHome .edit-workout {
  margin: 20px 0 0 0;
}
