.AdminHome {
  color: #ddd;
}

.AdminHome .create-workout {
  margin: 0;
}

.AdminHome form {
  margin: 0 auto;
  border-radius: 10px;
}

.AdminHome .welcome-text {
  margin: 0 0 10px 0;
}

.AdminHome .input-item {
  background: #36393f;
  border-radius: 10px;
  width: 50%;
  min-width: 150px;
  margin: 5px auto;
}

.AdminHome .input-section {
  box-shadow: 0 0 5px #36393f;
  background: #282a2e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.AdminHome .create-workout {
  margin: 20px 0;
}

.AdminHome .group-select {
  margin: 20px;
}

.AdminHome .top-margin {
  margin-top: 40px;
}

.AdminHome .right-margin {
  margin-right: 5px;
}

.AdminHome .edit-workout {
  margin: 0 0 10px 0;
}

.AdminHome .edit-button {
  margin: 3px;
}
