.background-img {
  overflow: auto;
  min-height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 32, 0.6) 50%, rgba(0, 0, 64, 0.6) 100%), url('/src/img/background.jpg');
  background-position: center center;
  background-size: cover;
}

.hover-scale {
  transition: 0.2s;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.margin-sm {
  margin: 10px;
}

.hard-shadow {
  box-shadow: 0 1px 3px #333;
}

.soft-shadow {
  box-shadow: 0 2px 5px #999;
}

.center-box {
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  background-color: #efefef;
  border-radius: 20px;
  box-shadow: 0 2px 5px #999;
  padding: 40px;
  margin: 120px auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.success {
  color: green;
}
