.background-img {
  overflow: auto;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(135deg, rgba(0, 0, 32, 0.6) 50%, rgba(0, 0, 64, 0.6) 100%), url('/src/img/background.jpg');
  background-position: center center;
  background-size: cover;
}

.hover-scale {
  transition: 0.2s;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.margin-sm {
  margin: 10px;
}

.loading-text {
  font-size: 32px;
  font-weight: bold;
  color: #ddd;
  background: #36393f;
  padding: 5px 10px;
  border-radius: 10px;
}

.center-box {
  width: fit-content;
  height: fit-content;
  text-align: center;
  background-color: #36393f;
  border-radius: 10px;
  box-shadow: 0 0 10px #202225;
  padding: 20px;
  margin: 40px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.success {
  color: green;
}

.Page {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
