.hover-scale {
  transition: 0.2s;
}

.hover-scale:hover {
  transform: scale(1.05);
}

.margin-sm {
  margin: 10px;
}

.hard-shadow {
  box-shadow: 0 1px 3px #333;
}

.soft-shadow {
  box-shadow: 0 2px 5px #999;
}

.center-box {
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  background-color: #efefef;
  border-radius: 20px;
  box-shadow: 0 2px 5px #999;
  padding: 40px;
  margin: 120px auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
